</br><h1><center>Contate-nos!</center></h1>
<br><center><p><i><font color="black" size="4px">Entre em contato :</br></font></i></p></center>
<center><p><i><font color="silver" size="4px">renatovalerio25@gmail.com</br></font></i></p></center>
<center><p><i><font color="silver" size="4px">marianapicolo@hotmail.com</br></font></i></p></center>
