</br><h1><center>Contate-nos!</center></h1>

<br><center><p><font color="black" size="4px">Encontrou algum erro no site?
  Alguma dúvida com o uso das ferramentas? Envie-nos um email!</br></br></font></p></center>

  <div class="container">
    <center><div class="row">
      <div class="col-sm-6">
        <center><b>Área Especial, Projeção A</br>
          UnB - Setor Leste - Gama</b></center>
          <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> (61) 3107 8901</p>
        </div>
        <div class="col-sm-6">
          <center><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> </br>renatovalerio25@gmail.com</center>
        </br>
        <center><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> </br>marianapicolo@hotmail.com</center>
      </div>
    </div>
  </div></center>
</div>
