</br><h1><center>Sobre o MyFitness</center></h1>
<center><p><i><font color="black" size="4px">MyFitness é o assistente perfeito para praticantes de musculação, e para o personal trainer.</font></i></p></center>
<center><p><i><font color="black" size="4px">Esta plataforma possibilita a facilidade de acompanhar seus dados corporais e seus treinos. </font></i></p></center>
<center><p><i><font color="silver" size="4px">"Por mais dificil que algo possa parecer, jamais desista antes de tentar"</br></font></i></p></center>
