</br><h1><center>Sobre o MyFitness</center></h1>

<center><p><font color="black" size="4px">MyFitness é o assistente perfeito para praticantes de musculação, e para o personal trainer.</font></p></center>
<center><p><font color="black" size="4px">Esta plataforma possibilita o acompanhamento de treinos de forma personalizada. </font></p></center>


<center><p><i><font color="black" size="4px">"Por mais dificil que algo possa parecer, jamais desista antes de tentar."</br></font></i></p></center>
