
<div class="jumbotron">
  <h1><center>Bem-vindo ao MyFitness!</center></h1>
  <center><p>A sua plataforma fitness.</p></center></br>
  <center><%= link_to 'Saiba Mais', static_pages_sobre_path, class: "btn btn-primary btn-lg"%></center>
</div>

<div class="container">
  <center><div class="row">
    <div class="col-sm-6">
      <center><h3><b>Acompanhe seus treinos</b></h3></center>
      <p>O MyFitness exibe seus treinos personalizados.</p>
    </div>
    <div class="col-sm-6">
      <center><h3><b>Sempre em contato com seu personal</b></h3></center>
      <p>Seu personal acompanha sua evolução nos treinos.</p>
    </div>
  </div></center>
</div>
