<h1>Bem vindo ao MyFitness!</h1>

  <%= link_to "Cadastre-se", new_user_registration_path%><br />
  <%= link_to "Login", new_user_session_path %><br />

  <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>
