
<div class="jumbotron">
  <h1><center>Bem-vindo ao MyFitness!</center></h1>
  <center><p>A sua plataforma fitness.</p></center></br>
  <center><button type="button" class="btn btn-primary btn-lg">Saiba Mais</button></center></div>
