<div class="jumbotron">
  <h1><center>Bem-vindo ao MyFitness!</center></h1>
  <center><p>A sua plataforma fitness.</p></center></br>
  <center><p><a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais</a></p></center>
</div>

  <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>
